{% extends 'base.html.twig' %}

{% block title %}list Promotion{% endblock %}

{% block body %}

    <table border ="1" id="t" >
        <thead class="thead-dark">
        <tr>
            <td >Date debut/td>
            <td >Date Fin</td>
            <td >Taux</td>
        </tr>
        </thead>
        <tbody id="all">
        {% for promo in promos %}
            <tr>

                <td>

                    {{ promo.date_debut }}

                </td>
                <td>

                    {{ promo.date_fin}}

                </td>
                <td>

                    {{ promo.taux}}

                </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
