{% extends 'hote_layout.html.twig' %}

{% block title %}Modifier Logement{% endblock %}

{% block body %}
    <h1>Modifier Logement</h1>

   {{ include('hote/logement/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-behance mt-2" href="{{ path('logement_index') }}"><i class="mdi mdi-arrow-left"></i> Retour</a>


    {{ include('hote/logement/_delete_form.html.twig') }}
{% endblock %}
