{% extends 'hote_layout.html.twig' %}

{% block title %}Créer un nouveau equipement{% endblock %}

{% block body %}
    <h1>Créer un nouveau equipement</h1>

    {{ include('hote/equipement/_form.html.twig') }}

    <a class="btn btn-behance mt-2" href="{{ path('equipement_index') }}"><i class="mdi mdi-arrow-left"></i> Retour</a>


{% endblock %}